body{
    font-family:sans-serif;
    background-color:#6abadb;
}

nav a{
	text-decoration:none;	
	background-color:white;
	border-radius: 60px;
	padding: 15px;
	color:black;
	font-size:18px;
}
nav a:hover{	
	background-color:black;
	color:white;
	border-radius: 60px;
	
}

center{
	background-color:#21d77b87;
	border-radius:25px;
}

center h1{
	background-color:#5681aa;
	color: #1bfffded;
	border-radius:60px;
	padding:1%;
}
